<section #about class="bg-gray-50 py-16">
  <div class="max-w-7xl mx-auto px-6 text-center">
    <h2 class="text-4xl font-bold text-gray-800">Meet Our Team</h2>
    <p class="mt-4 text-gray-600 max-w-2xl mx-auto">
      Our team is a group of passionate professionals committed to delivering
      excellence, innovation, and value to our clients.
    </p>
  </div>

  <!-- Team Members -->
  <div class="max-w-7xl mx-auto px-6 mt-12 grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

    <!-- Card -->
    <div (mouseover)="setTab('ceo')" class="bg-white rounded-xl shadow hover:shadow-xl transition p-6 text-center">
      <img 
        src="assets/sidharth.png"
        alt="Team Member"
        class="w-28 h-28 mx-auto rounded-full object-cover"
      />
      <h3 class="mt-4 text-xl font-semibold text-gray-800">Mr. Shidharth Pandey</h3>
      <p class="text-indigo-600 text-sm"> Managing Director & CEO</p>
      <p class="mt-3 text-gray-600 text-sm">
        Visionary leader driving innovation and long-term growth.
      </p>
    </div>

    <div (mouseover)="setTab('cfo')" class="bg-white rounded-xl shadow hover:shadow-xl transition p-6 text-center">
      <img 
        src="assets\dir-nishant.jpg"
        alt="Team Member"
        class="w-28 h-28 mx-auto rounded-full object-cover"
      />
      <h3 class="mt-4 text-xl font-semibold text-gray-800">Mr. Nishant Ojha</h3>
      <p class="text-indigo-600 text-sm">Director & CFO</p>
      <p class="mt-3 text-gray-600 text-sm">
        Ensures timely delivery with quality and precision.
      </p>
    </div>

    <div (mouseover)="setTab('coo')" class="bg-white rounded-xl shadow hover:shadow-xl transition p-6 text-center">
      <img 
        src="assets\coo-balran.jpg"
        alt="Team Member"
        class="w-28 h-28 mx-auto rounded-full object-cover"
      />
      <h3 class="mt-4 text-xl font-semibold text-gray-800">Dr. Balram Kumar</h3>
      <p class="text-indigo-600 text-sm">Director & COO</p>
      <p class="mt-3 text-gray-600 text-sm">
        Expert in scalable, secure, and modern web solutions.
      </p>
    </div>

    <div (mouseover)="setTab('hra')" class="bg-white rounded-xl shadow hover:shadow-xl transition p-6 text-center">
      <img
        src="assets\komal.png"
        alt="Team Member"
        class="w-28 h-28 mx-auto rounded-full object-cover"
      />
      <h3 class="mt-4 text-xl font-semibold text-gray-800">Komal Pandey</h3>
      <p class="text-indigo-600 text-sm">HR Manager</p>
      <p class="mt-3 text-gray-600 text-sm">
        Designs intuitive and engaging user experiences.
      </p>
    </div>

  </div>
</section>


    <div class="bg-white rounded-xl shadow p-6">
      <app-ceo-details *ngIf="activeTab === 'ceo'"></app-ceo-details>
      <app-cfo-details *ngIf="activeTab === 'cfo'"></app-cfo-details>
      <app-coo-details *ngIf="activeTab === 'coo'"></app-coo-details>
      <app-hra-details *ngIf="activeTab === 'hra'"></app-hra-details>
    </div>
